In [1]:
import pandas as pd
import numpy as np
import re
#import xlrd

In [2]:
#importing the data from excel sheet
data = pd.read_excel (r'WorkorderReport.xlsx', sheet_name='WorkorderReport')
data.head()

,DATE_CREATED,NO_ASSET,NO_WORK_ORDER,DESC_PROBLEM_ACTUAL,NO_FAILURE_TYPES,DATE_REQUIRED,DATE_COMPLETED,NO_WORK_ORDER_STATUS
0,2016-12-19 08:54:00,771.0,424912.0,CUT GRASS,0.0,2019-02-21 00:00:00,2019-02-27,97.0
1,2016-06-02 08:21:00,1768.0,398440.0,Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...,0.0,2016-06-02 00:00:00,2019-06-02,97.0
2,2016-06-14 12:38:00,1582.0,400156.0,Lot: 15128 Mzingazi - New water connection - S...,42.0,2016-06-14 00:00:00,2018-08-29,97.0
3,2016-11-21 09:16:00,1582.0,421555.0,Mzingazi 294 New water connection SM Cele 0...,42.0,0000-00-00 00:00:00,2018-10-22,97.0
4,2017-03-23 14:38:00,1768.0,437762.0,Stand 564 MKhoma 32.00545 - 28.66595 meter no ...,0.0,2017-03-23 00:00:00,2019-06-07,97.0

In [3]:
#Checking for the existence of missing  values
data.isnull().sum()#['DATE_CREATED'][0]

DATE_CREATED            0
NO_ASSET                1
NO_WORK_ORDER           1
DESC_PROBLEM_ACTUAL     3
NO_FAILURE_TYPES        1
DATE_REQUIRED           1
DATE_COMPLETED          1
NO_WORK_ORDER_STATUS    1
dtype: int64

In [4]:
#dropping missing values
data.dropna(inplace = True)
#Reseting the indices after the deletion of rows with missing values
data.reset_index(inplace=True)
#Dropping the created index column
data.drop('index', axis='columns', inplace=True)

In [5]:
#Pulling out the rows of interest from the data Frame
data_int = data[['DATE_CREATED', 'DESC_PROBLEM_ACTUAL']]

In [6]:
data_int.head()

          DATE_CREATED                                DESC_PROBLEM_ACTUAL
0  2016-12-19 08:54:00                                          CUT GRASS
1  2016-06-02 08:21:00  Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...
2  2016-06-14 12:38:00  Lot: 15128 Mzingazi - New water connection - S...
3  2016-11-21 09:16:00  Mzingazi 294  New water connection  SM Cele  0...
4  2017-03-23 14:38:00  Stand 564 MKhoma 32.00545 - 28.66595 meter no ...

In [7]:
# Converting the description column to text
data_int['DESC_PROBLEM_ACTUAL'] = data_int['DESC_PROBLEM_ACTUAL'].astype(str)

/home/felix/Documents/Pgmpy_recode/py3tst/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
# Function that check for the required text pattern and assign a true or false value based on wheather or not that text
# is in the sentences
def check(patterns,text):
    for pattern in patterns:
        if re.search(pattern,text):
            return True
        else:
            return False

## Eskhawini

In [9]:
#Eskhawini and Eskhaleni
# Checking weather the description text contains the desired pattern
patterns = ['[Ee][Ss][Kk][Hh][Aa][WwLl][IiEe][Nn][Ii]']
truth_value = []
for txt in data_int['DESC_PROBLEM_ACTUAL']:
    truth_value.append(check(patterns,txt))
Esk = np.array(truth_value)

In [10]:
#adding the new column "Eskhawini"
data_int = data_int.assign(Eskhawini = Esk)

In [11]:
#  H-Section

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[\s\S]H[\d\s]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    H = np.array(truth_value)

In [12]:
#adding the new column "Eskhawini"
data_int = data_int.assign(Esk_H = H)

In [13]:
#  J-Section

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[\s\S]J[\d\s]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    J = np.array(truth_value)

In [14]:
#adding the new column "Eskhawini"
data_int = data_int.assign(Esk_J = J)

## Leak

In [15]:
#### leak
# Checking weather the description text contains the desired pattern
truth_value = [] 
key_words = ['[Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    lk = np.array(truth_value)

In [16]:
#adding the new column "meter leak"
data_int = data_int.assign(Leaks = lk)

## Meter Leak

In [17]:
#### Meter leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Mm][Ee][Tt][Ee][Rr][\s\S][Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    mtr = np.array(truth_value)

In [18]:
#adding the new column "meter leak"
data_int = data_int.assign(Meter_leak = mtr)

## Valve leak

In [19]:
#### Meter leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Vv][Aa][Ll][Vv][Ee][\s\S][Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    valve = np.array(truth_value)

In [30]:
#adding the new column "meter leak"
data_int = data_int.assign(Valve_leak = valve)

## pipe burst

In [20]:
#### Pipe burst
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Pp][Ii][Pp][Ee][\s\S][Bb][Uu][Rr][Ss][Tt]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    pipe_b = np.array(truth_value)

In [21]:
#adding the new column "meter leak"
data_int = data_int.assign(Pipe_burst = pipe_b)

## pipe leak

In [22]:
#### Pipe leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Pp][Ii][Pp][Ee][\s\S][Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    pipe_l = np.array(truth_value)

In [23]:
#adding the new column "meter leak"
data_int = data_int.assign(Pipe_leak = pipe_l)

In [24]:
data_int.head()

,DATE_CREATED,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_J,Leaks,Meter_leak,Pipe_burst,Pipe_leak
0,2016-12-19 08:54:00,CUT GRASS,False,False,False,False,False,False,False
1,2016-06-02 08:21:00,Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...,False,False,False,False,False,False,False
2,2016-06-14 12:38:00,Lot: 15128 Mzingazi - New water connection - S...,False,False,False,False,False,False,False
3,2016-11-21 09:16:00,Mzingazi 294 New water connection SM Cele 0...,False,False,False,False,False,False,False
4,2017-03-23 14:38:00,Stand 564 MKhoma 32.00545 - 28.66595 meter no ...,False,False,False,False,False,False,False

In [ ]:
#Pulling out the propotion of the data that is related only to Eskhawini

In [38]:
data_int['Esk_H'].value_counts()

False    20611
True      2236
Name: Esk_H, dtype: int64

# Experimental code

In [22]:
#### leak
# Checking weather the description text contains the desired pattern
truth_value = [] 
key_words = ['[Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    lk = np.array(truth_value)

In [ ]:
# Trails

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[\s\S]J[\d\s]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    J = np.array(truth_value)

In [23]:
tru = (lk == True).sum()

In [30]:
#Extracting the subset of the data that speaks to Eskhawini
Esk = data_int.loc[(data_int['Eskhawini']== True) | (data_int['Esk_H'] == True) | (data_int['Esk_J'] == True)]

In [34]:
Esk['Meter_leak'].value_counts()

False    2960
True      106
Name: Meter_leak, dtype: int64

In [35]:
Esk.head()

,DATE_CREATED,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_J,Leaks,Meter_leak,Pipe_burst,Pipe_leak
5,2017-05-31 14:19:00,STAND 1635 KHANDISA RESERVE @ MKHWANAZI NORTH ...,False,True,False,False,False,False,False
27,2017-11-13 13:58:00,Esk J1519 Imizikayifani Primary School meter n...,False,False,True,False,False,False,False
46,2018-02-20 11:48:00,VULINDLELA 344 INVESTIGATE HIGH WATER CONSUMPTION,False,True,False,False,False,False,False
47,2018-02-20 11:48:00,VULINDLELA 345 INVESTIGATE HIGH WATER CONSUMPTION,False,True,False,False,False,False,False
52,2018-03-05 14:10:00,MKWANAZI NORTH GPS CORDINATES 31.83905-28.8774...,False,True,False,False,False,False,False

In [36]:
#Extracting the subset of Eskhawini data that speaks to leaks 
# Assuming leaks implies Water leaks
Esk_leaks = Esk.loc[(Esk['Leaks']== True) ]  # | (data_int['Esk_H'] == True) | (data_int['Esk_J'] == True)]

In [40]:
Esk_leaks.head()

,DATE_CREATED,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_J,Leaks,Meter_leak,Pipe_burst,Pipe_leak
149,2018-05-10 14:28:00,Meter leak @ J2202 Insephe Eskhawini contact M...,True,False,True,True,True,False,False
225,2018-06-11 08:43:00,MKHWANAZI NORTH WATER LEAK AT GULUKUDU KWAMKHW...,False,True,False,True,False,False,False
233,2018-06-20 11:07:00,MKHWANAZI NORTH WATER LEAK AT ESIQALO KWAMAKHWASA,False,True,False,True,False,False,False
245,2018-06-25 08:52:00,MKHWANAZI NORTH WATER LEAK AT AT MVUZEMVUZE T99,False,True,False,True,False,False,False
312,2018-07-03 08:29:00,MKHWANAZI NORTH WATER LEAK AT QAMBOKWETHU,False,True,False,True,False,False,False