In [1]:
import pandas as pd
import numpy as np

# Importing the datasets to be consolidated.

In [2]:
#Weather data
data = pd.read_csv('weather.csv')

In [3]:
data.head()

   Minimum_Temp  Maximum_Temp  Rainfall
0          12.3          25.3       0.0
1          17.3          28.6       0.0
2           9.6          20.9       0.0
3           7.6          22.3       0.0
4           9.6          22.3       0.6

In [ ]:
#Pressure data