In [1]:
import pandas as pd
import numpy as np

In [2]:
# Esk_daily_leakbehav
data = pd.read_csv('pd.to_numeric(s).csv')

In [3]:
data.head()

,Date,Pressure_ds,Pressure_us,Minimum_Temp,Maximum_Temp,Average_Temp,Rainfall,meterleak_count,pipeleak_count,valveleak_count,waterleak_count
0,2018-07-01,317.4,420.1,12.3,25.3,15.1,0.0,0,0,0,0
1,2018-07-02,323.3,425.8,17.3,28.6,19.7,0.0,0,0,0,0
2,2018-07-03,326.3,433.6,9.6,20.9,18.7,0.0,0,0,0,0
3,2018-07-04,314.0,419.5,7.6,22.3,10.9,0.0,0,0,0,0
4,2018-07-05,333.8,467.5,9.6,22.3,13.4,0.6,1,0,0,0

In [16]:
df['DataFrame Column'] = df['DataFrame Column'].astype(float)

str

In [ ]:
pd.to_numeric(s)