In [74]:
import pandas as pd
import numpy as np
import re
#import xlrd

In [75]:
#importing the data from excel sheet
data = pd.read_excel (r'WorkorderReport.xlsx', sheet_name='WorkorderReport')
data.head()

,DATE_CREATED,NO_ASSET,NO_WORK_ORDER,DESC_PROBLEM_ACTUAL,NO_FAILURE_TYPES,DATE_REQUIRED,DATE_COMPLETED,NO_WORK_ORDER_STATUS
0,2016-12-19 08:54:00,771.0,424912.0,CUT GRASS,0.0,2019-02-21 00:00:00,2019-02-27,97.0
1,2016-06-02 08:21:00,1768.0,398440.0,Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...,0.0,2016-06-02 00:00:00,2019-06-02,97.0
2,2016-06-14 12:38:00,1582.0,400156.0,Lot: 15128 Mzingazi - New water connection - S...,42.0,2016-06-14 00:00:00,2018-08-29,97.0
3,2016-11-21 09:16:00,1582.0,421555.0,Mzingazi 294 New water connection SM Cele 0...,42.0,0000-00-00 00:00:00,2018-10-22,97.0
4,2017-03-23 14:38:00,1768.0,437762.0,Stand 564 MKhoma 32.00545 - 28.66595 meter no ...,0.0,2017-03-23 00:00:00,2019-06-07,97.0

In [76]:
#Checking for the existence of missing  values
data.isnull().sum()#['DATE_CREATED'][0]

DATE_CREATED            0
NO_ASSET                1
NO_WORK_ORDER           1
DESC_PROBLEM_ACTUAL     3
NO_FAILURE_TYPES        1
DATE_REQUIRED           1
DATE_COMPLETED          1
NO_WORK_ORDER_STATUS    1
dtype: int64

In [77]:
#dropping missing values
data.dropna(inplace = True)
#Reseting the indices after the deletion of rows with missing values
data.reset_index(inplace=True)
#Dropping the created index column
data.drop('index', axis='columns', inplace=True)

In [78]:
#Pulling out the rows of interest from the data Frame
data_int = data[['DATE_CREATED', 'DESC_PROBLEM_ACTUAL']]

In [79]:
# Veiwing the results of our action
data_int.head()

          DATE_CREATED                                DESC_PROBLEM_ACTUAL
0  2016-12-19 08:54:00                                          CUT GRASS
1  2016-06-02 08:21:00  Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...
2  2016-06-14 12:38:00  Lot: 15128 Mzingazi - New water connection - S...
3  2016-11-21 09:16:00  Mzingazi 294  New water connection  SM Cele  0...
4  2017-03-23 14:38:00  Stand 564 MKhoma 32.00545 - 28.66595 meter no ...

In [80]:
#splitting datetime into day and time 
data_int['date'] = [d.date() for d in data_int['DATE_CREATED']]
data_int['time'] = [d.time() for d in data_int['DATE_CREATED']]

/home/felix/Documents/Pgmpy_recode/py3tst/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/felix/Documents/Pgmpy_recode/py3tst/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [81]:
data_int.head()

,DATE_CREATED,DESC_PROBLEM_ACTUAL,date,time
0,2016-12-19 08:54:00,CUT GRASS,2016-12-19,08:54:00
1,2016-06-02 08:21:00,Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...,2016-06-02,08:21:00
2,2016-06-14 12:38:00,Lot: 15128 Mzingazi - New water connection - S...,2016-06-14,12:38:00
3,2016-11-21 09:16:00,Mzingazi 294 New water connection SM Cele 0...,2016-11-21,09:16:00
4,2017-03-23 14:38:00,Stand 564 MKhoma 32.00545 - 28.66595 meter no ...,2017-03-23,14:38:00

In [82]:
# Converting the description column to text
data_int['DESC_PROBLEM_ACTUAL'] = data_int['DESC_PROBLEM_ACTUAL'].astype(str)

/home/felix/Documents/Pgmpy_recode/py3tst/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
# Function that check for the required text pattern and assign a true or false value based on wheather or not that text
# is in the sentences
def check(patterns,text):
    for pattern in patterns:
        if re.search(pattern,text):
            return True
        else:
            return False

## Eskhawini

In [84]:
Esk_data = data_int[['date', 'DESC_PROBLEM_ACTUAL']]

In [85]:
#Esk_data.head()

In [86]:
#Eskhawini and Eskhaleni
# Checking weather the description text contains the desired pattern
patterns = ['[Ee][Ss][Kk][Hh][Aa][WwLl][IiEe][Nn][Ii]']
truth_value = []
for txt in Esk_data['DESC_PROBLEM_ACTUAL']:
    truth_value.append(check(patterns,txt))
Esk = np.array(truth_value)

In [87]:
#adding the new column "Eskhawini"
Esk_data = Esk_data.assign(Eskhawini = Esk)

In [88]:
#  H-Section

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[^a-zA-Z0-9_]H[\d\s]']
for word in key_words:
    for txt in Esk_data['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    H = np.array(truth_value)

In [89]:
#adding the new column "Eskhawini"
Esk_data = Esk_data.assign(Esk_H = H)

In [90]:
#  H_be-Section

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[^a-zA-Z0-9_]H[\d\s]']
for word in key_words:
    for txt in Esk_data['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    H_be = np.array(truth_value)

In [91]:
#adding the new column "Eskhawini"
Esk_data = Esk_data.assign(Esk_Hbe = H_be)

In [92]:
#  J-Section

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[^a-zA-Z0-9_]J[\d\s]']
for word in key_words:
    for txt in Esk_data['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    J = np.array(truth_value)

In [93]:
#adding the new column "Eskhawini"
Esk_data = Esk_data.assign(Esk_J = J)

In [94]:
#  J_be-Section

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[^a-zA-Z0-9_]J[\d\s]']
for word in key_words:
    for txt in Esk_data['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    J_be = np.array(truth_value)

In [95]:
#adding the new column "Eskhawini"
Esk_data = Esk_data.assign(Esk_Jbe = J_be)

## Segmenting for Eskhawini

In [96]:
Esk_data.head()

,date,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_Hbe,Esk_J,Esk_Jbe
0,2016-12-19,CUT GRASS,False,False,False,False,False
1,2016-06-02,Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...,False,False,False,False,False
2,2016-06-14,Lot: 15128 Mzingazi - New water connection - S...,False,False,False,False,False
3,2016-11-21,Mzingazi 294 New water connection SM Cele 0...,False,False,False,False,False
4,2017-03-23,Stand 564 MKhoma 32.00545 - 28.66595 meter no ...,False,False,False,False,False

In [97]:
df_esk = Esk_data.loc[(Esk_data['Eskhawini'] == True) | (Esk_data['Esk_H'] == True)|(Esk_data['Esk_Hbe'] == True)
                      |(Esk_data['Esk_J'] == True)|(Esk_data['Esk_Jbe'] == True)].reset_index()

In [98]:
df_esk.tail()

,index,date,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_Hbe,Esk_J,Esk_Jbe
1814,22767,2019-06-21,Eskhawini Mall No power,True,False,False,False,False
1815,22769,2019-06-23,"Meter faulty J1327 Mhlathuzane Eskhawini, Met...",True,False,False,True,True
1816,22770,2019-06-23,"No pwer H2703 Mthimunye Eskhawini, No pwer H...",True,True,True,False,False
1817,22812,2019-07-08,Build up and install tempral kiosk for event. ...,True,False,False,False,False
1818,22832,2019-07-10,5 Pierce Cres (unit J2) No power,False,False,False,True,True

# Working from hereon on data segmented for ESK

## Leak

# Pipe leak events

In [100]:
data_pipeleak = df_esk[['date','DESC_PROBLEM_ACTUAL']]

In [25]:
#data_pipeleak.head()

In [101]:
#### Pipe burst
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Pp][Ii][Pp][Ee][\s\S][Bb][Uu][Rr][Ss][Tt]']
for word in key_words:
    for txt in data_pipeleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    pipe_b = np.array(truth_value)

In [102]:
#adding the new column "meter leak"
data_pipeleak = data_pipeleak.assign(Pipe_burst = pipe_b)

In [103]:
#### Pipe leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Pp][Ii][Pp][Ee][\s\S][Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_pipeleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    pipe_l = np.array(truth_value)

In [104]:
#adding the new column "meter leak"
data_pipeleak = data_pipeleak.assign(Pipe_leak = pipe_l)

In [105]:
#### Burst pipe
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Bb][Uu][Rr][Ss][Tt][\s\S][Pp][Ii][Pp][Ee]']
for word in key_words:
    for txt in data_pipeleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    pipe_bp = np.array(truth_value)

In [106]:
#adding the new column "burst pipe"
data_pipeleak = data_pipeleak.assign(Burst_pipe = pipe_bp)

In [107]:
#### Pipe leaking
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Pp][Ii][Pp][Ee][\s\S][Ll][Ee][Aa][Kk][iI][Nn][Gg]']
for word in key_words:
    for txt in data_pipeleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    pipe_lng = np.array(truth_value)

In [108]:
#adding the new column "burst pipe"
data_pipeleak = data_pipeleak.assign(Pipe_leaking = pipe_lng)

In [109]:
####leaking pipe
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Ll][Ee][Aa][Kk][iI][Nn][Gg][\s\S][Pp][Ii][Pp][Ee]']
for word in key_words:
    for txt in data_pipeleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    lng_pipe = np.array(truth_value)

In [110]:
#adding the new column "burst pipe"
data_pipeleak = data_pipeleak.assign(Leaking_pipe = lng_pipe)

In [111]:
####Broken pipe
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Bb][Rr][Oo][Kk][En][Nn][\s\S][Pp][Ii][Pp][Ee]']
for word in key_words:
    for txt in data_pipeleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    Brk_pipe = np.array(truth_value)

In [112]:
#adding the new column "burst pipe"
data_pipeleak = data_pipeleak.assign(Broken_pipe = Brk_pipe)

In [113]:
data_pipeleak.head()

,date,DESC_PROBLEM_ACTUAL,Pipe_burst,Pipe_leak,Burst_pipe,Pipe_leaking,Leaking_pipe,Broken_pipe
0,2017-11-13,Esk J1519 Imizikayifani Primary School meter n...,False,False,False,False,False,False
1,2018-05-08,VUL 286 \tMQHELE\tURK9668 MR J MAZIBUKO - \tMe...,False,False,False,False,False,False
2,2018-05-09,ESK H3641 IPHOTHWE\tHOLINESS UNION CHURCH\tmet...,False,False,False,False,False,False
3,2018-05-09,ESK H752 ISIPHIKELE meter number PM141179876 P...,False,False,False,False,False,False
4,2018-05-09,ESK H760 ISIPHIKELE meter number 175011643 Ms...,False,False,False,False,False,False

In [114]:
data_pipeleak['Pipe_burst'].value_counts()

False    1819
Name: Pipe_burst, dtype: int64

In [115]:
#Picking rows with true values for pipe leaks
pipeleak_data = data_pipeleak.loc[(data_pipeleak['Pipe_burst'] == True) | (data_pipeleak['Pipe_leak'] == True)|(data_pipeleak['Burst_pipe'] == True)
                      |(data_pipeleak['Pipe_leaking'] == True)|(data_pipeleak['Leaking_pipe'] == True)|(data_pipeleak['Broken_pipe'] == True)].reset_index()

In [116]:
pipeleak_data['pipeleak_count'] = 1

In [117]:
pipeleak_data.head()

,index,date,DESC_PROBLEM_ACTUAL,Pipe_burst,Pipe_leak,Burst_pipe,Pipe_leaking,Leaking_pipe,Broken_pipe,pipeleak_count
0,126,2018-07-12,"H section Isiphikeleli street Esikhaleni, H ...",False,True,False,False,False,False,1
1,133,2018-07-12,Pipe Leaks inside the yard J1461 Maqinase Stre...,False,True,False,False,False,False,1
2,138,2018-07-13,Water pipe leaks at Ilanda Street H 308 skhawi...,False,True,False,False,False,False,1
3,139,2018-07-14,Water pipe leaks at H 496 Ngududu Street E...,False,True,False,False,False,False,1
4,151,2018-07-20,"J1461 Maqinase street Esikhaleni, J1461 Maqin...",False,True,False,False,False,False,1

## Meter Leak

In [118]:
data_meterleak = df_esk[['date','DESC_PROBLEM_ACTUAL']]

In [119]:
#### Meter leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Mm][Ee][Tt][Ee][Rr][\s\S][Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_meterleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    mtr = np.array(truth_value)

In [120]:
#adding the new column "meter leak"
data_meterleak = data_meterleak.assign(Meter_leak = mtr)

In [121]:
#### Meter leaks
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Mm][Ee][Tt][Ee][Rr][\s\S][Ll][Ee][Aa][Kk][Ss]']
for word in key_words:
    for txt in data_meterleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    mtrs = np.array(truth_value)

In [122]:
#adding the new column "meter leaks"
data_meterleak = data_meterleak.assign(Meter_leaks = mtrs)

In [123]:
#### Leaking meter
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Ll][Ee][Aa][Kk][iI][Nn][Gg][\s\S][Mm][Ee][Tt][Ee][Rr]']
for word in key_words:
    for txt in data_meterleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    lkgmtr = np.array(truth_value)

In [124]:
#adding the new column "meter leak"
data_meterleak = data_meterleak.assign(Leaking_meter = lkgmtr)

In [125]:
#### meter leaking
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Mm][Ee][Tt][Ee][Rr][\s\S][Ll][Ee][Aa][Kk][iI][Nn][Gg]']
for word in key_words:
    for txt in data_meterleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    lkgmtr = np.array(truth_value)

In [126]:
#adding the new column "meter leak"
data_meterleak = data_meterleak.assign(Leaking_meter = lkgmtr)

In [127]:
#### Meter Broken
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Mm][Ee][Tt][Ee][Rr][\s\S][Bb][Rr][Oo][Kk][En][Nn]']
for word in key_words:
    for txt in data_meterleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    mtrbrk = np.array(truth_value)

In [128]:
#adding the new column "meter leak"
data_meterleak = data_meterleak.assign(Meter_broken = mtrbrk)

In [129]:
####  Broken Meter
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Bb][Rr][Oo][Kk][En][Nn][\s\S][Mm][Ee][Tt][Ee][Rr]']
for word in key_words:
    for txt in data_meterleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    brkmtr = np.array(truth_value)

In [130]:
#adding the new column "meter leak"
data_meterleak = data_meterleak.assign(Broken_meter = brkmtr)

In [131]:
data_meterleak.head()

,date,DESC_PROBLEM_ACTUAL,Meter_leak,Meter_leaks,Leaking_meter,Meter_broken,Broken_meter
0,2017-11-13,Esk J1519 Imizikayifani Primary School meter n...,False,False,False,False,False
1,2018-05-08,VUL 286 \tMQHELE\tURK9668 MR J MAZIBUKO - \tMe...,False,False,False,False,False
2,2018-05-09,ESK H3641 IPHOTHWE\tHOLINESS UNION CHURCH\tmet...,False,False,False,False,False
3,2018-05-09,ESK H752 ISIPHIKELE meter number PM141179876 P...,False,False,False,False,False
4,2018-05-09,ESK H760 ISIPHIKELE meter number 175011643 Ms...,False,False,False,False,False

In [132]:
#Picking rows with true values for meter leaks
meterleak_data = data_meterleak.loc[(data_meterleak['Meter_leak'] == True) | (data_meterleak['Meter_leaks'] == True)|(data_meterleak['Leaking_meter'] == True)
                      |(data_meterleak['Meter_broken'] == True)|(data_meterleak['Broken_meter'] == True)].reset_index()

In [133]:
# Adding a column of ones in effort to use them to obtain component based daily leaks
meterleak_data['meterleak_count'] = 1

In [134]:
meterleak_data.head()

,index,date,DESC_PROBLEM_ACTUAL,Meter_leak,Meter_leaks,Leaking_meter,Meter_broken,Broken_meter,meterleak_count
0,60,2018-05-10,Meter leak @ J2202 Insephe Eskhawini contact M...,True,False,False,False,False,1
1,114,2018-07-05,Meter leak at J 409 Intibane Street Eskhawini...,True,False,False,False,False,1
2,121,2018-07-10,Meter Leaks J358 Indlovu Street Esikhawini Ntu...,True,True,False,False,False,1
3,125,2018-07-11,"Meter leak H3370 sphikeleli Eskhawini, Meter...",True,False,False,False,False,1
4,141,2018-07-15,"Meter leak at H 52 iNtaka Street Eskhawini, M...",True,False,False,False,False,1

In [142]:
Tst_df = meterleak_data[['date','meterleak_count' ]]

In [145]:
type(Tst_df.date[0])

datetime.date

In [147]:
Tst_df['date'] = pd.to_datetime(Tst_df['date'])

/home/felix/Documents/Pgmpy_recode/py3tst/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [150]:
# Testing the group by function
# Putting ordering the data frame as per dates
agr_df = Tst_df.groupby(Tst_df['date'].dt.date)

In [151]:
agr_df.head()

         date  meterleak_count
0  2018-05-10                1
1  2018-07-05                1
2  2018-07-10                1
3  2018-07-11                1
4  2018-07-15                1
..        ...              ...
78 2019-06-20                1
79 2019-06-23                1
80 2019-06-30                1
81 2019-06-30                1
82 2019-06-23                1

[83 rows x 2 columns]

In [152]:
#Obtaining sums for particular days
sumed_df = Tst_df.groupby(Tst_df['date'].dt.date).sum()

## Valve leak

In [135]:
data_valveleak = df_esk[['date','DESC_PROBLEM_ACTUAL']]

In [136]:
#### valve leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Vv][Aa][Ll][Vv][Ee][\s\S][Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_valveleak['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    valve = np.array(truth_value)

In [137]:
#adding the new column "meter leak"
data_valveleak = data_valveleak.assign(Valve_leak = valve)

In [138]:
data_valveleak.head()

         date                                DESC_PROBLEM_ACTUAL  Valve_leak
0  2017-11-13  Esk J1519 Imizikayifani Primary School meter n...       False
1  2018-05-08  VUL 286 \tMQHELE\tURK9668 MR J MAZIBUKO - \tMe...       False
2  2018-05-09  ESK H3641 IPHOTHWE\tHOLINESS UNION CHURCH\tmet...       False
3  2018-05-09  ESK H752 ISIPHIKELE meter number PM141179876 P...       False
4  2018-05-09  ESK H760  ISIPHIKELE meter number 175011643 Ms...       False

In [139]:
#Picking rows with true values for meter leaks
valveleak_data = data_valveleak.loc[(data_valveleak['Valve_leak'] == True)].reset_index()

In [140]:
valveleak_data['broken valve'] = 1

In [141]:
valveleak_data.head()

,index,date,DESC_PROBLEM_ACTUAL,Valve_leak,broken valve
0,501,2018-12-07,Valve leak at J2 Section Mdlebentshona Esikhal...,True,1

## Combining the data frames as per segmentation

In [68]:
# Experimental code
type(valveleak_data.DATE_CREATED[0])

datetime.datetime

## pipe leak

In [22]:
#### Pipe leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[Pp][Ii][Pp][Ee][\s\S][Ll][Ee][Aa][Kk]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    pipe_l = np.array(truth_value)

In [23]:
#adding the new column "meter leak"
data_int = data_int.assign(Pipe_leak = pipe_l)

In [24]:
data_int.head()

,DATE_CREATED,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_J,Leaks,Meter_leak,Pipe_burst,Pipe_leak
0,2016-12-19 08:54:00,CUT GRASS,False,False,False,False,False,False,False
1,2016-06-02 08:21:00,Stand 1390 KHOZA TRIBAL - gps 3200576-2867544 ...,False,False,False,False,False,False,False
2,2016-06-14 12:38:00,Lot: 15128 Mzingazi - New water connection - S...,False,False,False,False,False,False,False
3,2016-11-21 09:16:00,Mzingazi 294 New water connection SM Cele 0...,False,False,False,False,False,False,False
4,2017-03-23 14:38:00,Stand 564 MKhoma 32.00545 - 28.66595 meter no ...,False,False,False,False,False,False,False

In [ ]:
#Pulling out the propotion of the data that is related only to Eskhawini

In [38]:
data_int['Esk_H'].value_counts()

False    20611
True      2236
Name: Esk_H, dtype: int64

# Experimental code

In [18]:
#### leak
# Checking weather the description text contains the desired pattern
truth_value = [] 
key_words = ['[^a-zA-Z0-9_]J[\d\s]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    lk = np.array(truth_value)

In [19]:
# Trails

#### Pipe_leak
# Checking weather the description text contains the desired pattern
truth_value = []
key_words = ['[\s\S]J[\d\s]']
for word in key_words:
    for txt in data_int['DESC_PROBLEM_ACTUAL']:
        truth_value.append([check(key_words,txt)])
    kl = np.array(truth_value)

In [20]:
tru = (kl == True).sum()
tr = (lk == True).sum()

In [21]:
tru

753

In [22]:
tr

675

In [30]:
#Extracting the subset of the data that speaks to Eskhawini
Esk = data_int.loc[(data_int['Eskhawini']== True) | (data_int['Esk_H'] == True) | (data_int['Esk_J'] == True)]

In [34]:
Esk['Meter_leak'].value_counts()

False    2960
True      106
Name: Meter_leak, dtype: int64

In [35]:
Esk.head()

,DATE_CREATED,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_J,Leaks,Meter_leak,Pipe_burst,Pipe_leak
5,2017-05-31 14:19:00,STAND 1635 KHANDISA RESERVE @ MKHWANAZI NORTH ...,False,True,False,False,False,False,False
27,2017-11-13 13:58:00,Esk J1519 Imizikayifani Primary School meter n...,False,False,True,False,False,False,False
46,2018-02-20 11:48:00,VULINDLELA 344 INVESTIGATE HIGH WATER CONSUMPTION,False,True,False,False,False,False,False
47,2018-02-20 11:48:00,VULINDLELA 345 INVESTIGATE HIGH WATER CONSUMPTION,False,True,False,False,False,False,False
52,2018-03-05 14:10:00,MKWANAZI NORTH GPS CORDINATES 31.83905-28.8774...,False,True,False,False,False,False,False

In [36]:
#Extracting the subset of Eskhawini data that speaks to leaks 
# Assuming leaks implies Water leaks
Esk_leaks = Esk.loc[(Esk['Leaks']== True) ]  # | (data_int['Esk_H'] == True) | (data_int['Esk_J'] == True)]

In [40]:
Esk_leaks.head()

,DATE_CREATED,DESC_PROBLEM_ACTUAL,Eskhawini,Esk_H,Esk_J,Leaks,Meter_leak,Pipe_burst,Pipe_leak
149,2018-05-10 14:28:00,Meter leak @ J2202 Insephe Eskhawini contact M...,True,False,True,True,True,False,False
225,2018-06-11 08:43:00,MKHWANAZI NORTH WATER LEAK AT GULUKUDU KWAMKHW...,False,True,False,True,False,False,False
233,2018-06-20 11:07:00,MKHWANAZI NORTH WATER LEAK AT ESIQALO KWAMAKHWASA,False,True,False,True,False,False,False
245,2018-06-25 08:52:00,MKHWANAZI NORTH WATER LEAK AT AT MVUZEMVUZE T99,False,True,False,True,False,False,False
312,2018-07-03 08:29:00,MKHWANAZI NORTH WATER LEAK AT QAMBOKWETHU,False,True,False,True,False,False,False

In [37]:
pat = ['[Pp][Ii][Pp][Ee][\s\S][Ll][Ee][Aa][Kk]']
txt = ' Jupipe pipeleak Jand Romeo Jip MaJic'
testing = check(pat,txt)

In [38]:
testing

False

In [25]:
pat = ['^J[\d\s]']
txt = 'J uliate  Jand Romeo Jip MaJic'
testin = check(pat,txt)

In [26]:
testin

True