In [2]:
import pandas as pd
import numpy as np

# Importing the datasets to be consolidated.

In [26]:
# Esk_daily_leakbehav
daily_leaks = pd.read_csv('Esk_daily_leakbehav.csv')
# Renaming the datetime column
daily_leaks.rename(columns={'Unnamed: 0':'Date'}, inplace=True)

In [27]:
daily_leaks.head()

,Unnamed: 0,waterleak_count,meterleak_count,pipeleak_count,valveleak_count
0,2018-07-01,0,0,0,0
1,2018-07-02,0,0,0,0
2,2018-07-03,0,0,0,0
3,2018-07-04,0,0,0,0
4,2018-07-05,0,1,0,0

In [32]:
#Weather data
weather = pd.read_csv('weather.csv')
weather.head()

   Minimum_Temp  Maximum_Temp  Average_Temp  Rainfall
0          12.3          25.3          15.1       0.0
1          17.3          28.6          19.7       0.0
2           9.6          20.9          18.7       0.0
3           7.6          22.3          10.9       0.0
4           9.6          22.3          13.4       0.6

In [16]:
#Pressure data
pressure_us = pd.read_csv('pressure_us.csv')
pressure_ds = pd.read_csv('pressure_ds.csv')

In [17]:
pressure_ds.shape

(37274, 4)

In [15]:
pressure.head()

  Site: Esikhawini J PRV  Channel: Upstream Pressure   Reference:    Unit: kPa
0               Datetime                       Value           NaN         NaN
1    2018-05-04 00:00:00                     558.828           NaN         NaN
2    2018-05-04 00:15:00                     558.828           NaN         NaN
3    2018-05-04 00:30:00                     558.828           NaN         NaN
4    2018-05-04 00:45:00                     568.632           NaN         NaN

In [35]:
# Joining the data frames together
Comb = daily_leaks 
Comb['Minimum_Temp'] = weather.Minimum_Temp
Comb['Maximum_Temp'] = weather.Maximum_Temp
Comb['Average_Temp'] = weather.Average_Temp
Comb['Rainfall'] = weather.Rainfall

In [36]:
Comb.head()

,Date,waterleak_count,meterleak_count,pipeleak_count,valveleak_count,Minimum_Temp,Maximum_Temp,Average_Temp,Rainfall
0,2018-07-01,0,0,0,0,12.3,25.3,15.1,0.0
1,2018-07-02,0,0,0,0,17.3,28.6,19.7,0.0
2,2018-07-03,0,0,0,0,9.6,20.9,18.7,0.0
3,2018-07-04,0,0,0,0,7.6,22.3,10.9,0.0
4,2018-07-05,0,1,0,0,9.6,22.3,13.4,0.6