In [4]:
import pandas as pd 
import numpy as np
from collections import Counter
from sklearn.preprocessing import KBinsDiscretizer
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv(r'Esk_leakdata.csv')

In [5]:
df.head()

,Date,Pressure_ds,Pressure_us,Minimum_Temp,Maximum_Temp,Average_Temp,Temp_range,Rainfall,meterleak_count,pipeleak_count,valveleak_count,waterleak_count,total_leak_count
0,2018-07-01,317,420,12,25,15,13,0,0,0,0,0,0
1,2018-07-02,323,426,17,29,20,11,0,0,0,0,0,0
2,2018-07-03,326,434,10,21,19,11,0,0,0,0,0,0
3,2018-07-04,314,420,8,22,11,15,0,0,0,0,0,0
4,2018-07-05,334,468,10,22,13,13,1,1,0,0,0,1

In [7]:
df.columns

Index(['Date', 'Pressure_ds', 'Pressure_us', 'Minimum_Temp', 'Maximum_Temp',
       'Average_Temp', 'Temp_range', 'Rainfall', 'meterleak_count',
       'pipeleak_count', 'valveleak_count', 'waterleak_count',
       'total_leak_count'],
      dtype='object')

In [8]:
df_sel = df[['Pressure_ds', 'Pressure_us', 'Minimum_Temp', 'Maximum_Temp',
       'Average_Temp', 'Temp_range', 'Rainfall']]

In [11]:
#Binning the data
enc = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='quantile')

In [26]:
df_sel_binned = enc.fit_transform(df_sel)

/home/felix/Documents/Pgmpy_recode/py3tst/lib/python3.6/site-packages/sklearn/preprocessing/_discretization.py:193: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 6 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

In [20]:
df_sel_binned[0]

array([2., 1., 0., 1., 0., 2., 0.])

In [21]:
#converting float to integer values
df_sel_binned = np.int_(df_sel_binned)

In [22]:
# Converting the array back to the dataframe
df_binned = pd.DataFrame.from_records(df_sel_binned, columns=['Pressure_ds', 'Pressure_us', 'Minimum_Temp', 'Maximum_Temp',
       'Average_Temp', 'Temp_range', 'Rainfall'])

In [23]:
df_binned.head()

,Pressure_ds,Pressure_us,Minimum_Temp,Maximum_Temp,Average_Temp,Temp_range,Rainfall
0,2,1,0,1,0,2,0
1,2,1,1,2,1,2,0
2,2,1,0,0,1,2,0
3,2,1,0,0,0,2,0
4,2,2,0,0,0,2,0

In [29]:
disc_leakdata = pd.concat([df_binned, df[['meterleak_count','pipeleak_count', 'valveleak_count', 'waterleak_count',
                           'total_leak_count']]], axis=1)

In [30]:
disc_leakdata.head()

,Pressure_ds,Pressure_us,Minimum_Temp,Maximum_Temp,Average_Temp,Temp_range,Rainfall,meterleak_count,pipeleak_count,valveleak_count,waterleak_count,total_leak_count
0,2,1,0,1,0,2,0,0,0,0,0,0
1,2,1,1,2,1,2,0,0,0,0,0,0
2,2,1,0,0,1,2,0,0,0,0,0,0
3,2,1,0,0,0,2,0,0,0,0,0,0
4,2,2,0,0,0,2,0,1,0,0,0,1

In [32]:
# Writing new table to a different csv file for safety.
disc_leakdata.to_csv(r'equal_depth_disc_fulldataset_n3.csv', index = False)

In [2]:
df_st = pd.read_csv('equal_depth_disc_fulldataset_n3.csv')

In [5]:
# Checking the class 
print(sorted(Counter(df_st['meterleak_count']).items()))

[(0, 295), (1, 60), (2, 8), (3, 2)]

In [28]:
#The inverse transformation, taking us back to the original bins boundary averages
est.inverse_transform(Xt)

NameError: name 'est' is not defined

In [ ]:
df = df.reindex(sorted(df.columns), axis=1)